.subButton {
    text-decoration: none;
    color: var(--color-text-button-sub);
    background-color: var(--color-background);
    padding: 1rem 2rem;
    max-width: 400px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    border: none;
    transform: scale(1);
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subButton svg {
    font-size: 1.2rem;
    margin-right: 3px;
}

.subButton:hover {
    background-color: var(--color-background-button-sub-hover);
}

