.RoomNav {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    border-right: solid 1px var(--background);
    display: grid;
    grid-template-rows: 5rem 10rem auto 2.4rem; 
    position: relative;
}

.roomType {
    border-bottom: solid 1px var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.roomType button {
    margin: 1.5rem;
    padding: 2rem 2.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.roomType button svg:first-child {
    font-size: 2rem;
    margin-right: 1rem;
}

.roomType button:last-of-type svg {
    color: var(--color-accent)
}

.roomsList {
    overflow-y: auto;
    scrollbar-color: var(--color-secondary) transparent;
    
}


.roomsListElement {
    margin: 0;
    padding: 0;
    height: auto;
    list-style: none;
}

.roomsListElement > * {
    cursor: pointer;
}

.ReloadIcon {
    position: absolute;
    bottom: 6rem;
    right: 1.75rem;
    font-size: 1.2rem;
    color: var(--color-text-dull);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ReloadIcon:hover {
    background-color: var(--color-secondary);
}

.privateInfoMsg {
    color: var(--color-text-dull);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 1.4rem 2rem 1rem 2rem ;
    text-align: center;
}

.privateInfoMsg svg {
    font-size: 1.4rem;
    margin-right: 0.7rem;
    
}



.addButton {
    position: absolute;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-dull);
    font-weight: 700;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    padding-left: 1.4rem;
    transition: all 0.5s;
    font-size: 1.2rem;
    font-weight: 700;
}

.addButton:hover {
    background-color: var(--color-background);
    color: var(--color-text);
}

.addButton img {

    margin-left: 1rem;
}

.noRoomInfo {
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: var(--color-text-dull);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--color-secondary);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar {
    background-color: var(--color-secondary);
    margin: 1.5rem auto 0 auto;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius: 2.5rem;
    display: inline-block;
    color: var(--color-text);
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.searchBar svg:first-of-type {
    margin: 0 0.8rem 0 0.5rem;
}

.searchBar p {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 0;
    font-weight: 700;
}

.searchBar p:hover {
   transform: scale(1.2);
}




.searchBar input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 700;
}

.searchBarTyping {
    opacity: 1 !important;
}

@media (min-width: 1200px) {
    .ReloadIcon {
        bottom: 4rem;
    }
}

