<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Theatre</title>
    <link rel="stylesheet" href="css/yttheatre.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@200;400;600;700&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div class="container">
        <div id="controls">+</div>
        <div id="control-panel">
            <div class="x-button">
                <img src="images/times-light.svg" alt="X">
            </div>
            <div class="top-section">
                <h1>Fanci Youtube Theatre</h1>
                <p>Search Videos</p>
            </div>
            <div class="bottom-section">
                <form id="form">
                    <input type="text" placeholder="Search Youtube Videos">
                    <button type="submit">Search</button>
                </form>
                <ul id="list">
                    <li v-for="item in videoList">
                        <div class="list-img">
                            <img :src="item.img" :alt="item.creator">
                        </div>
                        <div class="list-title">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                            <h4>{{ item.creator }}</h4>
                        </div>
                        <div class="list-link" @click="playVid(item.id)">
                            <a>Play</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="overlay"></div>
        <div id="player"></div>

    </div>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="js/yttheatre.js"></script>
</body>
</html>