html {
    background-color: #000000;
    font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
}

*  {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#player {
    z-index: 5;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
}

#controls {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    z-index: 20;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    background-color: rgb(211, 211, 211);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all 0.2s;
    transform: translate(-50%, -50%);
}

#controls:hover {
    border-radius: 0.7rem;
}

.show-overlay {
    display: block !important;
}




#control-panel {
    transform: translate(-150%, -50%);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #141414;
    z-index: 15;
    transition: all 0.8s;
    width: 50%;
    height: 60vh;

}


.show-control-panel {
    transform:  translate(-50%, -50%) !important;
    opacity: 1 !important;
}

.top-section {
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #DB4242;
    height: 13vh;
}
.top-section h1 {
    color: #DDDDDD;
    font-weight: 400;
    font-size: 2.2rem;
}
.top-section p {
    color: #A8A7A7;
    font-weight: 700;
    font-size: 1.4rem;
}

.bottom-section {
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    overflow: auto;
    height: 47vh;
    overflow: auto;
}

.bottom-section input {
    background-color: #262629;
        border: none;
        outline: none;
        padding: 0.7rem 1.4rem;
        color:#A8A7A7;
        border-radius: 1px;
        margin-right: 1rem;
        font-size: 1.4rem;
        width: 85%;
}

.bottom-section button {
    background-color: #DB4242;
    border: none;
    outline: none;
    padding: 0.7rem;
    color: white;
    border-radius: 1px;
    font-size: 1.4rem;
    font-weight: 200;
    float: right;
}

#list li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 14rem;
    margin-top: 2rem;
    border-radius: 2px;
    background-color: #1C1C1F;
}

#list li > * {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.list-img {
    width: 30%;
    margin-left: 0.5rem;
}

.list-img img {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
.list-title {
    width: 55%;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.list-title h3 {
    font-weight: 200;
}

.list-title h4 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.list-title p {
    color: #A8A7A7;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
}
.list-link {
    width: 15%;
    background-color: #262629;
    color: #DB4242;
    align-items: center !important;
    font-size: 1.8rem;
    border-radius: 2px;
    transition: all 0.3s;
}
.list-link:hover {
    background-color: #2e2e33;
    color: #e95959;
}

.x-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #FFFFFF;
    height: 1.5rem;
    width: 1.5rem;
}
