.Rooms {
    height: 100vh;
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: block;
    grid-template-columns: auto auto auto;
    transition: all 1s;
    overflow: hidden;
}

.mobileSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.8s;
    margin-bottom: 4.5rem;
    z-index: 200;
    overflow: hidden;
    
}

.sectionOnlineList {
    transform: translateX(100%);
}   

.sectionNav {
    transform: translateX(-100%);
}

.sectionOnlineListShown {
    transform: translateX(5%);
    box-shadow: -1rem -0rem 1rem rgba(0, 0, 0, 0.1);
}   

.sectionNavShown {
    transform: translateX(-5%);
    box-shadow: 1rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.sectionRoom {
    z-index: 100;
}

.noRoomSection {
    transform: translateX(0%);
}



.sectionShown > div {
    border-right: none;
}

@media (min-width: 1200px) {
    .Rooms {
        display: grid;
        grid-template-columns: 35rem auto 35rem;
    }
}