.Room {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 7rem auto 5.5rem;
    border-right: solid 1px var(--background);
    text-align: left;
}

.centerInstructions {
    font-size: 2.2rem;
    color: var(--color-text-bright);
    text-align: center;
    margin: auto 0;
    margin-top: 30%;
}

.RoomList {
    list-style: none;
    margin: 3rem 2rem 0rem 3rem;
    padding-right: 1rem;
    padding-left: 0;
    scrollbar-color: var(--color-background) transparent;
    height: auto;
}


.Room ul {
    list-style: none;
    overflow-y: auto;
    overflow-x: none;
}

.RoomHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-secondary);
    border-bottom: solid 1px var(--background); 
    padding: 2rem 2.5rem;
}

.RoomHeader svg {
    font-size: 2.4rem;
    margin-right: 1.6rem;

}

.RoomList li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.RoomList div {
    display: inline-block;
    background-color: var(--color-background);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    width: auto;
    height: 100%;
    padding: 0.2rem 2rem;
    border-radius: 2.5rem;
    font-size: 1.2rem;
    margin-right: auto;
}

.RoomList p {
    margin: 0.75rem 0;
}


.RoomList p:first-child {
    font-weight: 900;
}

.RoomList div p:last-child{
    font-weight: 700;
    font-size: 1.4rem;
}

.RoomList li > p:last-of-type {
    padding: 0 2rem;
    transition: all 0.5s;
    opacity: 0;
    color: var(--color-text-dull);
    margin: 0;
}

.messageIsUsers div {
    background-color: var(--color-accent);
    color: var(--color-is-user);
    margin-left: auto !important;
    margin-right: 0;
}

.messageIsUsers * {
    margin-left: auto !important;
    margin-right: 0;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: manual;
    line-break: strict;
}

.form {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form input[type=text] {
    width: 90%;
    outline: 0;
    border: 0;
    background-color: var(--color-background);
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    font-weight: 500;
    box-sizing: border-box;
    transition: transform 0.2s;
    height: auto;
    color: var(--color-text);
}

.form input[type=text]:focus {
    border: 0;
}

.form ::placeholder {
    color: var(--color-text);
}

.form button {
    background-color: transparent;
    outline: 0;
    border: 0;
    transition: transform 0.2s;
}

.form button:hover {
    transform: scale(1.1);
}

.opacityZero {
    opacity: 1 !important;
    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
}

.leaveButton {
    margin-left: auto !important;
}



.BottomAnchor {
    float: left;
    height: 0;
    width: 0;
}