.RoomNav {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    border-right: solid 1px var(--background);
    display: grid;
    grid-template-rows: 5rem 10rem auto 3.3rem; 
    position: relative;

}

.roomType {
    border-bottom: solid 1px var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.roomType button {
    margin: 1.5rem;
    padding: 2rem 2.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.roomType button svg:first-child {
    font-size: 2rem;
    margin-right: 1rem;
}

.roomType button:last-of-type svg {
    color: var(--color-accent)
}

.roomsList {
    overflow-y: auto;
    scrollbar-color: var(--color-secondary) transparent;
    
}


.roomsListElement {
    margin: 0;
    padding: 0;
    height: auto;
    list-style: none;
}

.roomsListElement > * {
    cursor: pointer;
}

.ReloadIcon {
    position: absolute;
    bottom: 4rem;
    right: 1.75rem;
    font-size: 1.2rem;
    color: var(--color-text-dull);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ReloadIcon:hover {
    background-color: var(--color-secondary);
}

.privateInfoMsg {
    color: var(--color-text-dull);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 1.4rem 2rem 1rem 2rem ;
}

.privateInfoMsg svg {
    font-size: 1.4rem;
    margin-right: 0.7rem;
    
}



.addButton {
    position: absolute;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-dull);
    font-weight: 700;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    padding-left: 1.4rem;
    transition: all 0.5s;


}

.addButton:hover {
    background-color: var(--color-background);
    color: var(--color-text);
}

.addButton img {

    margin-left: 1rem;
}