.StatusMessages {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: none;
    margin: none;
    padding-right: 2rem;
    z-index: 1000;
    height: 80vh;
    overflow: hidden;
}

.StatusMessages > * {
    transform: translateX(30rem);
    transition: all 2s;
}
