@keyframes animateIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }


.CreateRoom {
    width: 60%;
    min-width: 40rem;
    max-width: 100rem;
    display: grid;
    grid-template-columns: minmax(30rem, 35rem) auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-background);
    animation: animateIn 0.7s ease none 1 normal;
    height: 55vh;
    z-index: 600;
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.CreateRoomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    padding: 2rem 3rem 3rem 2rem;
    border-right: 1px solid var(--background);
    color: var(--color-text);
}

.CreateRoomInfo h2 {
    font-weight: 700;
}


.CreateRoomInfo svg {
    font-size: 10rem;
}

.CreateRoomInfo p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.CreateRoomInput {
    width: 100%;
    padding: 5rem;
    position: relative;
    height: 100%;
    margin-top: 1rem;
}

.controls {
    display: grid;
    grid-template-columns: 30% 70%;
    
}

.controls > div {
    display: grid;
    grid-template-rows: 6rem 6rem 7rem;
}


.controls > div:first-of-type {
    font-size: 1.4rem;
    text-align: right;
    margin-right: 1rem;
    font-weight: 600;
    color: var(--color-text);
}

.controls div h4:last-of-type {
    line-height: 3.5rem;
}

.controls div h4 {
    transition: all 0.5s;
}


.controls input {
    width: auto;
    outline: none;
    border: none;
    margin: 1rem;
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text);
    background-color: var(--color-invert-text-field);
    
}

.controls input:disabled {
    background-color: var(--color-background);
    color: var(--color-background);
}

.disabledText {
    background-color: var(--color-background);
    color: var(--color-background);
}

.controls input:disabled::placeholder {
    color: var(--color-background);
}

.createRoom {
    position: absolute;
    bottom: 3rem;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.buttons button:first-of-type {
    margin-right: 3rem;

}

.buttons {
    margin: 1rem auto;

}


.ClosePopup {
    position: absolute;
    right: 1.4rem;
    top: 1rem;
    font-size: 2rem;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    z-index: 1000;
    color: var(--color-text);
    background-color: var(--color-background);
    outline: none;
    border: none;

}

.ClosePopup:hover {
    background-color: var(--color-button-hover);
    color: var(--color-button-hover-text);
}