@keyframes opacity {
    0%   {opacity: 0}
    100% {opacity: 1}
  }

.Profile {
    height: 100vh;
    background-color: var(--background);
    color: var(--color-text);
    display: grid;
    grid-template-columns: auto 0;
}

.Profile > div:last-of-type {
    display: none;
}

.editProfile {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
    border-right: none;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.editProfile::-webkit-scrollbar {
    display: none;
  }

.editProfile section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.8rem 4rem;
    text-align: left;
}

.editProfile section:last-of-type {
    padding-bottom: 10rem;
}

.editProfile section h2 {
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.editProfile section p {
    width: 40%;
    min-width: 30rem;
    color: var(--color-text-dull);
    font-weight: 600;
    font-size: 1.1rem;
}

.editProfile section input[type="text"] {
    width: 16rem;
    outline: 0;
    border: 0;
    background-color: var(--color-invert-text-field);
    padding: 1rem 1.8rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text);
}

.editProfile section button {
    margin-right: 1rem;
}

.editProfile section:last-of-type button {
    margin-right: auto;
    background-color: var(--color);
    color: var(--color-is-user);
}


.buttonOpacity {
    animation: opacity 0.5s ease none 1 normal;
}

@media (min-width: 800px) {
    .Profile {
        grid-template-columns: auto 35rem;
    }
    .editProfile {
        border-right: solid 1px var(--background);
    }
    .Profile > div:last-of-type {
        display: grid;
    }
}